@charset "utf-8";
/* CSS Document */
.uploadify-button{
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border-radius: 4px;
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;
}
.uploadify-button:hover{
	color: #fff;
	background-color: #31b0d5;
	border-color: #269abc;
}
.uploadfile{
	width:0;
	}
.uploadify-queue .uploadify-queue-item{
	list-style-type:none;
	margin-top:10px;
	}
.uploadbtn,.delfilebtn{
	display:inline-block;
	border:1px solid #999;
	line-height:24px;
	border-radius:4px;
	padding:0 18px;
    font-size:12px;
	color:#666;
	cursor:pointer;
	text-decoration:none;
	}
.up_filename,.progressnum,.delfilebtn,.uploadbtn,.up_percent{
	font-size:12px;
	color:#666;
	margin-left:10px;
	}
.uploadify-progress{
	 display:inline-block; 
	 width:600px; 
	 height:10px; 
	 background-color:white;
	 border-radius:20px;
	 border:2px groove #666;
	 vertical-align:middle;
	 padding:0;
	 }
.uploadify-progress-bar{
	width:0;
	height:100%;
	border-radius:20px;
	background-color: #0099FF;
	}
