.news-nav{ background:white;  border-bottom:1px solid #e8e8e8; width:100%; position:fixed;
	top:0; left:0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
	height:.82rem;
	z-index:9999;

}
.news-nav>a{
	
	 text-decoration: none;
    display: inline-block;
     width: auto;
    height: .8rem;
    line-height: .8rem;
    font-weight:bold;
    color: #000;
    position: relative;
    z-index: 1;
    overflow: hidden;
	width:1.2rem;
	text-align:center;
	
	
}

.news-nav>a:first-child {
    margin-left: 0;
}

.news-nav>a.news-active {
    color: #ad0e11;
    border-bottom:2px solid #ad0e11;
}



.news_product{padding:.2rem 3% .12rem; background:white;   
	
}
.news_product>ul{
	white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}
.news_product>ul>li{display:inline-block; width:1.6rem; min-height:2rem; margin-right:.2rem; text-align:center; vertical-align:text-top; }
.news_product>ul>li>a{display:block; white-space:normal;}
.news_product>ul>li>a>p{}
.news-body_title{padding:.2rem 3%; background:white;  }
.news-body_title>a{position:relative;}
.news-body_title>a>span{
    position: absolute;
    right: -20px;
    top: 50%;
    width: 6px;
    height: 6px;
    border-right:1px solid #ad0e11;
    border-bottom: 1px solid #ad0e11;
    -webkit-transform: rotate(-45deg) translateY(-50%);
    -ms-transform: rotate(-45deg) translateY(-50%);
    transform: rotate(-45deg) translateY(-50%);
}



.news-body_title>a{ font-weight:bold; color:#333333;}
.news-body_img>img{width:100%; height:3rem; display:block;}
.news-love-title>b{position:relative; height:.6rem; display:inline-block;}
.news-love-title>b::after{content:''; width:.4rem; height:2px; border-bottom:2px solid #ad0e11; position:absolute; left:50%;    -webkit-transform: translateX(-50%);-ms-transform: translateX(-50%); transform: translateX(-50%); bottom:0;}



.web-yp-product>ul>li{float:left; width: 49%; min-height: 3rem; margin-right: 2%; margin-bottom: .1rem; background:white;}
.web-yp-product>ul>li:nth-child(2n){margin-right:0;}
.web-yp-product>ul>li>a{display:block;}
.web-yp-img{height:3.12rem; width: 100%; display: block; }
.web-yp-body{padding:.2rem 5%}


.news-classify-hd{height:2rem;}
.news-classify-hd_text{width:50%; text-align:center; line-height:2rem;}
.news-classify-hd_img{width:50%; height:2rem;}
.news-classify-hd_img>img{width:100%; height:100%; display:block;}
.news-classify-bd{background:white; text-align:center; padding:.2rem 15% .4rem;}
.news-classify-bd>ul>li{float:left; height:.88rem; line-height:.88rem; margin-right:20%; width:40%;}
.news-classify-bd>ul>li:nth-child(2n){margin-right:0;}

.news-classify-bd>ul>li.more-right{margin-right:0; float:right; }


.news-classify-bd>ul>li>a{display:block; padding:0 10px; border-bottom:1px solid #e8e8e8; height:100%;}
.news-classify-bd>ul>li .more{border-bottom:none;  }
.news-classify-bd>ul>li .down{background:url(../images/nimg/v1.png) center center no-repeat; background-size:13px; }
.news-classify-bd>ul>li .up{background:url(../images/nimg/v2.png) center center no-repeat; background-size:13px; }

